
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montagu+Slab:opsz,wght@16..144,100;16..144,200;16..144,300;16..144,400;16..144,500;16..144,600;16..144,700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Lato', sans-serif;
font-family: 'Montagu Slab', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* nav section  */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
} 
.left-container{
    display: flex;
    gap: 20px;
    align-items: center;

}
span{
    color: #FF42A5;
}
.gamer-zone{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.right-container{
    display: flex;
    gap: 32px;
    align-items: center;

}
.right-nav-text{
    color: #3C354F;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500;
    
}
.right-icon{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 16px 18px 24px;
    gap: 20px;
}
.frame-pic{
    width: 80px;
    height: 40px;
}

/* header section  */
.header-container{
    display: flex;
    
    gap: 90px;
    width: 100%;
    height: 80vh;
}
.header-left{
    background-image: url('../images/Group\ 14.png');
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    padding: 135px 200px 145px 170px;
    
    
 }
 .header-text{
    color: #534C64;
    
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 15px;
}

.play-like-the{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}
.goat{
    
    font-size: 4.3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
}
.header-photo{
    height: 95%;
    padding-top: 23px;
    margin-right: 130px;
}
.headerbtn-container{
    display: flex;

    
    gap: 20px;
    padding-top: 20px;
}
.primary-btn{
    border-radius: 48px;
    background: #FF42A5;
    text-align: center;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 21px 40px;
    border: 0px;
    text-transform: uppercase;
}
.secondry-btn{
    border-radius: 48px;
    background: #4EC5F7;
    text-align: center;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 21px 40px;
    border: 0px;
}
/* main section  */
/* we are gamer section  */
.main-wegamer-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 600px;
    width: 100%;
}

.we-gamer-container{
    display: flex;
    height: 550px;
    padding-top: 60px;
    width: 80%;
    align-items: center;
    margin: 0 auto;

}
.gaming-carecter{
    width: 700px;
    height: 93%;
}

.we-gamer-content{
    align-items: center;
}
.wegamer-title{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
}
.wegamer-description{
    color: #534C64;
    text-align: right;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 30px;
}
.know-btn{
    text-align: right;
    margin-top: 30px;
}
.gamer-purpose{
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 20px;
    line-height: 45px;
 
}
.proverbs{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}
/* gamelist-container */
.gamelist-section {
    width: 100%;
    padding: 50px 0;
}
.gamelist-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.gamelist-container h1{
    font-size: 40px;
    padding-bottom: 10px;
}
.gamelist-images{
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.game-image {
    position: relative;
    display: inline-block;
}

.game-image img {
    width: 242px;
    height: 300px;
    padding-bottom: 10px;
    transition: filter 0.3s ease;
}

.game-image:hover img {
    filter: brightness(50%); 
}

.game-image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    width: 48px;
    height: 48px;
    background-image: url(../images/play-button\ 1.png); 
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.game-image:hover::after {
    opacity: 1;
}

.game-image p {
    position: relative;
    z-index: 1;
    color: black; 
    transition: color 0.3s ease; 
}



.game-image img{
    width: 242px;
    height: 300px;
    padding-bottom: 10px;

}
/* playinstant-section */
.playinstant-section {
    width: 100%;
    padding: 50px 0;
}
.playinstant-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 200px;
    text-align: right;
}
.playinstant-left h1{
    font-size: 40px;
    padding-bottom: 10px;
}

.main-image{
    position: relative;
}
.main-image>img{
    width: 100%;
}
.secondary-image{
    position: absolute;
    bottom: -60px;
    left:-100px;
    width: 50%;
}
/* play online games section  */
.play-games-online {
    width: 100%;
    padding: 100px 0;
}
.online-games-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 200px;
    text-align: left;
}
.online-game-right h1{
    font-size: 40px;
    padding-bottom: 10px;
}

.main-image{
    position: relative;
}
.main-image>img{
    width: 100%;
}
.secondary-image{
    position: absolute;
    bottom: -60px;
    left:-100px;
    width: 50%;
}


/* games-chennel  */
.chennel-section{
    width: 100%;
    padding: 50px 0;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);}  
.chennel-container-forfive{
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
}
.chennel-container-forfive{
    display: grid;
    gap:20px;

    grid-template-columns: repeat(5,1fr);
 
}
.chennel-container-forfour{
    width: 80%;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 70px;
}
.chennel-container-forfour{
    display: grid;
    gap:20px;

    grid-template-columns: repeat(4,1fr);
 
}
.games-chennel{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50px;
  gap: 10px;
  border: 2px solid white;
}
.games-chennel p{
    font-weight: bold;
}
.games-chennel:hover p{
    color: #F948B2;
}
.games-chennel:hover{

 border: 2px solid #F948B2;
}
.games-chennel img{
 width: 25%;
}

/* footer section  */
.footer-section{
    width: 100%;
    background: #0B0223;
    color: #FFF;
    
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap:20px;
    padding-top: 120px;
    padding-bottom: 56px;
}
.footer-logo-name{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.footer-description-first{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 56px;
}
.footer-icon-photo{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 64px;
    color: #FFFFFF;
}
.footer-description-second{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 28px;
}
.footer-description-last{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 130px;
}










/* responsive mobile device */
@media screen and (max-width: 576px) {
    .nav-container,
    .right-container,
    .header-container
    
    {
        flex-direction: column;
    }
    .nav-container{
        margin-top: 150px;
    }
    #nav-about{
        padding-top: 48px;
        padding-bottom: 25px;
    }
    #nav-developers{
        padding-bottom: 48px;
    }
    .gamer-zone{
        font-size: 1.2rem;
    }
    .right-nav-text{
        font-size: 1rem;
    }
    .header-right, .header-left{
        width: 100%;
    }
    .header-left{
        margin-top: 119px;
    }
    .nav-container{
        margin-left: 200px;
    }
    .we-gamer-container{
        flex-direction: column-reverse;
        margin-top: 1744px;
        margin-left: 63px;
    }
    .gaming-carecter{
        padding-right: 134px;
    }
}




/* responsive tablet device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-container, .header-container{
        flex-direction: column;
        
    }
    .we-gamer-container{
        flex-direction: column-reverse;
        margin-top: 1400px;
    }
    .nav-container{
        gap: 40px;
        margin-top: 50px;
        margin-left: 100px;
    }
    .header-container{
        margin-left: 50px;

    }
    
}
